.sign-up-title{
    font-size: 32px;
    font-weight: 600;
}
.btn-sign-up{
    color: #fff;
    background-color: #497282;
    border:1px solid transparent;
    border-radius: 5px;
  }
  .btn-sign-up:hover{
    background-color: #3e5e6a;
    border: 1px solid #497282;
    color: #fff;
    transition: .5s;
  }