* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
a {
  cursor: pointer;
}
.sidebar-active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 4px;
}
.sidebar-active:hover {
  color: #fff;
}
